[submodule "third-contracts/openzeppelin-solidity"]
	path = third-contracts/openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity
[submodule "third-contracts/oraclize/ethereum-api"]
	path = third-contracts/oraclize/ethereum-api
	url = https://github.com/oraclize/ethereum-api.git
